<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Compubrother :: Categorias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Computadoras y accesorios en tijuana" />
    <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<!-- <body style="background-image: url('img/imgbg.jpg');background-repeat: repeat-x, repeat, repeat;background-position: 0px 30px, 0px 0px, 0px 0px;"> -->
<body  style="background-color: #f8f9fa;">

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <!-- <a class="navbar-brand" href="index.html">CompuBrother</a> -->
        <img src="img/logo.png" alt="" style="max-width: 25%;height: auto;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Preguntas frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<section class="p-2" style="background-color: #eaeaea;">
    <div class="container">
        <h3 class="text-tight">CATEGORIA | LAPTOPS</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="mb-3">
                <div class="text-black text-uppercase text-center" style="font-size: 1.5em;"> Categorías</div>
                <ul class="category_block">
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Laptops</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Teclados</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Computadoras</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Mouses</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Monitores</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Gaming</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Cargadores de Laptops</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Cables</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Remates</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Promociones</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">CPUs</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Tablets</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Televisiones</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Camaras Digitales</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Proyectores</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Accesorios</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Linea Blanca</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Todo en uno</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Audio</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Apple</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Herramientas</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Copiadoras</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Audio</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Telefonos</a></li>
                    <li class="" style="display: block;padding:.5em;"><a class="text-muted" href="categories.html">Equipos DELL</a></li>
                </ul>
            </div>

        </div>
        <div class="col">
            <div class="row">
                <div class="card card-main">
                    <div class="row">
                        <div class="col-12 col-md-5 card p-1">
                            <div class="">
                                <img src="img/categories_laptops.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-primary text-tight">Lorem ipsum dolor sit amet, consectetur </h4>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint alias excepturi rem ut ipsam at itaque exercitationem</p>
                            <h3 class="p-1">$88.55</h3>
                            <h5 class="text-tight">Envío gratis
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">Llamar</a>
                                </div>
                            </h5>
                            
                            
                        </div>
                    </div>
                    <hr>
                    <!-- product #2 -->
                    <div class="row">
                        <div class="col-12 col-md-5 card p-1">
                            <div class="">
                                <img src="img/categories_laptops.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-primary text-tight">Lorem ipsum dolor sit amet, consectetur </h4>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint alias excepturi rem ut ipsam at itaque exercitationem</p>
                            <h3 class="p-1">$88.55</h3>
                            <h5 class="text-tight">Envío gratis
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">Llamar</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <!-- product #2 -->
                    <hr>
                    <!-- product #3 -->
                    <div class="row">
                        <div class="col-12 col-md-5 card p-1">
                            <div class="">
                                <img src="img/categories_laptops.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-primary text-tight">Lorem ipsum dolor sit amet, consectetur </h4>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint alias excepturi rem ut ipsam at itaque exercitationem</p>
                            <h3 class="p-1">$88.55</h3>
                            <h5 class="text-tight">Envío gratis
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">Llamar</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <!-- product #3 -->
                    <hr>
                    <!-- product #4 -->
                    <div class="row">
                        <div class="col-12 col-md-5 card p-1">
                            <div class="">
                                <img src="img/categories_laptops.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-primary text-tight">Lorem ipsum dolor sit amet, consectetur </h4>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint alias excepturi rem ut ipsam at itaque exercitationem</p>
                            <h3 class="p-1">$88.55</h3>
                            <h5 class="text-tight">Envío gratis
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">Llamar</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <!-- product #4 -->
                    <hr>
                    <!-- product #5 -->
                    <div class="row">
                        <div class="col-12 col-md-5 card p-1">
                            <div class="">
                                <img src="img/categories_laptops.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-primary text-tight">Lorem ipsum dolor sit amet, consectetur </h4>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint alias excepturi rem ut ipsam at itaque exercitationem</p>
                            <h3 class="p-1">$88.55</h3>
                            <h5 class="text-tight">Envío gratis
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">Llamar</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <!-- product #5 -->
                    <hr>
                    <!-- product #6 -->
                    <div class="row">
                        <div class="col-12 col-md-5 card p-1">
                            <div class="">
                                <img src="img/categories_laptops.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-primary text-tight">Lorem ipsum dolor sit amet, consectetur </h4>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint alias excepturi rem ut ipsam at itaque exercitationem</p>
                            <h3 class="p-1">$88.55</h3>
                            <h5 class="text-tight">Envío gratis
                                <div class="pull-right">
                                    <a href="#" class="btn btn-warning">Llamar</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <!-- product #6 -->
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My company</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by GixCode 2018</p>
            </div>
        </div>
    </div>
</footer>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
</body>
</html>